<div class="container">
  <div class="row">
    <div class="mx-auto col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0">
      <h1>User info</h1>
      <!--エラーメッセージ-->
      <% if @user.errors.any? %>
        <div class="error_explanation">
          <h3><%= @user.errors.count %>errors prohibited this obj from being saved:</h3>
          <ul>
            <% @user.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <!--編集フォーム-->
      <%= form_with model: @user, local: true do |f| %>
       <div class = "form-group">
         <label>Name</label>
         <%= f.text_field :name, class: "update-form" %>
       </div>
       <div class = "form-group">
         <label>Image</label>
         <%= f.attachment_field :profile_image, placeholder: "プロフィール画像" %>
       </div>
       <div class = "form-group">
         <label>Introduction</label>
         <%= f.text_area :body, class: "update-form"  %>
       </div>
       <div class = "form-group">
         <%= f.submit "Update User", class: "btn btn-secondary", method: :update %>
       </div>
     <% end %>
    </div>
  </div>
</div>