<div class = "container px-5 px-sm-0">
  <div class = "row">
    <!--左側-->
    <%= render 'books/UserInfo', user: @user, new_book: @new_book %>
    <!--右側-->
    <div class="col-md-8 offset-md-1">
      <h2>Book detail</h2>
      <table>
        <tbody>
            <tr>
              <td>
              <%= link_to user_path(@book.user) do %>
                <%= attachment_image_tag @book.user, :profile_image, :fill, 100, 100, size:'50x50', format: 'jpeg', fallback: "img/no_image-icon.jpg" %>
                <p><%= @book.user.name %></p>
              <% end %>
              </td>
              <td><%= link_to @book.title, book_path(@book) %></td>
              <td><%= @book.body %></td>
              <% if @book.user ==current_user %>
                <td><%= link_to "Edit", edit_book_path(@book), class:"btn btn-sm btn-success" %> </td>
                <td><%= link_to "Destroy", book_path(@book), data: { confirm: '本当に消しますか' }, method: :delete,  class:"btn btn-sm btn-danger" %> </td>
              <% end %>
            </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>